@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply box-border m-0 p-0;
}

html,
body {
  @apply w-full h-screen font-normal text-base text-black tracking-tighter;
}

.container {
  @apply w-full max-w-5xl mx-auto;
}

.active-link {
  @apply text-amber-500 underline underline-offset-4;
}
